#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#calculator{
    width: 40vw;
    height: 80vh;
    border: solid 1px gray;
    font-size: 40em;
    text-transform: uppercase;
    border-radius: 2%;
}

#display{
    border: solid 1px black;
    height: 10vh;
    font-size: 2rem;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 0px;
    vertical-align: middle;
    
}

.row{
    display: flex;
    flex-direction: row;
    height: calc(70vh/5);
}

.row button{
    width: calc(40vw/3);
    font-size: 2rem
}

.equals{
    display: flex;
    flex-direction: row;
    height: calc(70vh/5);
}

.equals button{
    width: 40vw;
    font-size: 2rem;
}

.operators{
    background-color: orange;
    border: 0;
    width: 100%;
}

.clearing{
    font-size: 1rem !important;
}